header {
  display: flex;
  justify-content: center;
  background-color: #191923;
  padding: 22px;
  box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.1);
  z-index: 2;
  position: relative;
}

header input {
  outline: none;
  border: solid 1px #eee;
  background-color: #767676;
  color: #eee;
  padding: 10px;
  border-radius: 4px;
}
